
@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_LayoutHomer.cshtml";
}
@section Menubar{
    @Html.Partial("_MenuBar")
}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Search projects..">
                                <div class="input-group-btn">
                                    <button class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 listProjects">
                    ....
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <span class="pull-right">
        Example text
    </span>
    Company 2015-2020
</footer>

<div class="ProjectContent"></div>
@section HideComponents{
    @Html.Partial("_ModalProjects")
    @Html.Partial("CRUD/ModalAdd")
    @Html.Partial("CRUD/ModalEdit")
    @Html.Partial("CRUD/ModalAddRequirement")
}

@section Scripts{
    <script>
        $(document).ready(function () {
            reload();

        });


        const reload = () => {
            $.ajax({
                url: '/Projects/GetAll',
                type: 'get'

            }).done((respond) => {
                console.log(respond);
                var data = "";
                $.each(respond, (k, v) => {
                    data += itemProject(v.id, v.name, v.details, v.assignDate, "Requirement", "fa-level-up text-success");

                })
                $('.listProjects').html(data);
            }).fail((e) => {
                console.log(e);
            });
        }

        const getProjectHistory = (idproject) => {
            let obj = Object();
            obj.Id = idproject;
            $.ajax({
                url: '/Projects/GetById',
                type: 'post',
                data:obj
            }).done((respond) => {
                console.log("Project History yang didapatkan");
                console.log(respond);
                if (respond.projectHistory.length !== 0) {
                    tampilkanTimeLineData(respond.projectHistory);
                    $('.timelineBLockPanle').removeClass('hide');
                } else {
                    $('.timelineBLockPanle').addClass('hide');

                }

            }).fail((e) => {
                console.log(e);
            });
        }
        const tampilkanTimeLineData = (dataHistory) => {
            var data = "";

            $.each(dataHistory, (k, v) => {
                data += itemProgress(v.progress.name, v.progress.progresDetails, v.progress.employee.firstName, v.progress.dateEntry, v.progress.colorCode, progressActionsbyStatus(v.progress.progressStatus, v.idProject))
            })
            $('.contentTimeLineProject').html(data);
        }

        const addRequirement = () => {
            $('#AddRequirementModal').modal('show');
        }

        const progressActionsbyStatus = (progressStatus,idprj) => {
  
            switch (progressStatus) {
                case 1:
                    return `<button class="btn btn-success  btn-xs"   onClick="addRequirement('${idprj}')"><i class="fa fa-paperclip"></i>Add Requirement</button>`;
                    break;
                case 2:
                    return 'BusinessDesign Button'
                    break;
                case 3:
                    return 'DesignSystem Button'
                    break;
                case 4:
                    return 'DatabaseDesign Button'
                    break;
                case 5:
                    return 'UxUiDesign Button'
                    break;
                case 5:
                    return 'Developing Button'
                    break;
                case 5:
                    return 'Testing Button'
                    break;
                case 5:
                    return 'Deploying Button'
                    break;
                case 5:
                    return 'Done Button'
                    break;
                default:
                    return 'Initialization Button'
                    break;
            }
        }
        const itemProject = (id,title, texts, lastDateHistry, statusTask, IconTask) => {

            return `<div class="hpanel filter-item">
                                    <a href="#" class="itemProject" onClick="itemProjectClick('${id}')">
                                        <div class="panel-body">
                                            <div class="pull-right text-right">
                                                <small class="stat-label">( ${ id } ) - ${lastDateHistry}</small>
                                                <h4>${statusTask} <i class="fa ${IconTask}"></i></h4>
                                            </div>
                                            <h4 class="m-b-xs">${title}</h4>
                                            <p class="small">${texts.slice(0, 100)} . . .</p>
                                        </div>
                                    </a>
                                </div>`;
        }

        const itemProgress = (name, detail,approver, dateentry,color,action) => {
            return `<div class="vertical-timeline-block">
                                                <div class="vertical-timeline-icon navy-bg">
                                                    <i style="color:${color}" class="fa fa-calendar"></i>
                                                </div>
                                                <div class="vertical-timeline-content">
                                                    <div class="p-sm">
                                                        <span class="vertical-date pull-right"> Actions by ${approver} <br /> <small>${dateentry}</small> </span>

                                                        <h2>${name}</h2>
                                                        <p>
                                                           ${detail}
                                                        </p>
                                                    </div>
                                                    <div class="panel-footer">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                   ${action}
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>`
        }

       const itemProjectClick = (data) => {
            console.log("Objek data saat di klik")
            console.log(data)
            $.ajax({
                url: '/Projects/ProjectDetails',
                type: 'get',
                data: { id: data}

            }).done((respond) => {
                $(".ProjectContent").html(respond);
                $('#ProjectModal').modal('show');
            }).fail((respond) => {
                console.log(respond)
            });
             @* $.get('@Url.Action("ModalProjects", "Projects")', {id : 1}, function(content){
                    $(".ProjectContent").html(content);
                    });*@
        }
        const requestrequirement = (id) => {
                        var obj = Object();
                        obj.IdProject = id;
                        obj.Name = "Request";
            obj.ProgresDetails = "Request Requirement";
                        obj.Approver = "123456";
                        obj.ColorCode = "#34495E";
                        console.log("Data requrement yang dikirmakn");
                        console.log(obj);

                        $.ajax({
                            url: '/progresses/add',
                            type: 'POST',
                            data: obj

                        }).done((respond) => {
                            reload();
                            reloadDetail();
                            poUPAlertSweet("success", "Project started and will be request Requirement", "", "center");
                            console.log("Respond yang didapatkan");

                            console.log(respond);


                        }).fail((e) => {
                            console.log(e);
                        });
                    }
        const openmodaledit = (Id) => {
            $('#EditProjectModal').modal('show');
             var obj = new Object();
        obj.Id = Id;
        console.log(obj);
            $.ajax({
                url: '/Projects/GetById',
                type: 'POST',
                data: obj

            }).done((respond) => {
                console.log(respond);
                $('#Id-Edit').val(respond.id);
                $('#Name-Edit').val(respond.name);
                $('#Details-Edit').val(respond.details);
                $('#AssignDate-Edit').val(new Date(respond.assignDate).toISOString().substring(0, 10));
                $('#EndDate-Edit').val(new Date(respond.endDate).toISOString().substring(0, 10));
            }).fail((e) => {
                console.log(e);
            });
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>

    <script>
        $("#idformproject").submit(function (e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            var form = $(this);
            var actionUrl = form.attr('action');
            $.ajax({
                type: "POST",
                url: actionUrl,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    console.log(data);
                    switch (data) {
                        case 1:
                            poUPAlertSweet("success", "Tambah Project Berhasil", "", "center");
                            //window.location.href="/Login"
                            break;
                        default:
                            poUPAlertSweet("error", "Tambah Project Gagal", JSON.stringify(data), "center");
                            break;
                    }
                }
            });
    </script>

    <script>
        const edit = () => {

            var form = $("#idformprojectupdate");
            var actionUrl = "/projects/put";
            $.ajax({
                type: "PUT",
                url: actionUrl,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    console.log(data);
                    switch (data) {
                        case 200:
                            poUPAlertSweet("success", "Edit Project Berhasil", "", "center");
                            reload();
                            reloadDetail();
                            //window.location.href="/Login"
                            break;
                        default:
                            poUPAlertSweet("error", "Edit Project Gagal", JSON.stringify(data), "center");
                            break;
                    }
                }
            });
        }
    </script>


    

}



