
@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_LayoutHomer.cshtml";
}
@section Menubar{
    @Html.Partial("_MenuBar")
}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Search projects..">
                                <div class="input-group-btn">
                                    <button class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 listProjects">
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <span class="pull-right">
        Example text
    </span>
    Company 2015-2020
</footer>

<div class="ProjectContent"></div>
@section HideComponents{
    @Html.Partial("_ModalProjects")
    @Html.Partial("CRUD/ModalAdd")
    @Html.Partial("CRUD/ModalEdit")
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Projects/GetAll',
                type: 'get'

            }).done((respond) => {
                console.log(respond);
                var data = "";
                $.each(respond, (k, v) => {
                    data += itemProject(v.id,v.name, v.details,v.assignDate, "Requirement", "fa-level-up text-success");

                })
                $('.listProjects').html(data);
            }).fail((e) => {
                console.log(e);
            });

        });

        const itemProject = (id,title, texts, lastDateHistry, statusTask, IconTask) => {

            return `<div class="hpanel filter-item">
                                    <a href="#" class="itemProject" onClick="itemProjectClick('${id}')">
                                        <div class="panel-body">
                                            <div class="pull-right text-right">
                                                <small class="stat-label">( ${ id } ) - ${lastDateHistry}</small>
                                                <h4>${statusTask} <i class="fa ${IconTask}"></i></h4>
                                            </div>
                                            <h4 class="m-b-xs">${title}</h4>
                                            <p class="small">${texts.slice(0, 100)} . . .</p>
                                        </div>
                                    </a>
                                </div>`;
        }

       const itemProjectClick = (data) => {
            console.log("Objek data saat di klik")
            console.log(data)
            $.ajax({
                url: '/Projects/ProjectDetails',
                type: 'get',
                data: { id: data}

            }).done((respond) => {
                $(".ProjectContent").html(respond);
                $('#ProjectModal').modal('show');
            }).fail((respond) => {
                console.log(respond)
            });
             @* $.get('@Url.Action("ModalProjects", "Projects")', {id : 1}, function(content){
                    $(".ProjectContent").html(content);
                    });*@
        }
        const openmodaledit = (Id) => {
            $('#EditProjectModal').modal('show');
             var obj = new Object();
        obj.Id = Id;
        console.log(obj);
            $.ajax({
                url: '/Projects/GetById',
                type: 'POST',
                data: obj

            }).done((respond) => {
                console.log(respond);
                $('#Id-Edit').val(respond.id);
                $('#Name-Edit').val(respond.name);
                $('#Details-Edit').val(respond.details);
                $('#AssignDate-Edit').val(new Date(respond.assignDate).toISOString().substring(0, 10));
                $('#EndDate-Edit').val(new Date(respond.endDate).toISOString().substring(0, 10));
            }).fail((e) => {
                console.log(e);
            });
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>

    <script>
        $("#idformproject").submit(function (e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            var form = $(this);
            var actionUrl = form.attr('action');
            $.ajax({
                type: "POST",
                url: actionUrl,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    console.log(data);
                    switch (data) {
                        case 1:
                            poUPAlertSweet("success", "Tambah Project Berhasil", "", "center");
                            //window.location.href="/Login"
                            break;
                        default:
                            poUPAlertSweet("error", "Tambah Project Gagal", JSON.stringify(data), "center");
                            break;
                    }
                }
            });
    </script>
}



